.header {
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dfe6e9;
  padding: 0 50px;
  align-items: center;
}
.nav {
  position: relative;
}
ul.main-nav {
  list-style-type: none;
  padding: 0px;
  font-size: 0px;
  width: 100%;
  margin: 0 auto;
  text-transform: uppercase;
  color: #333;
}

ul.main-nav > li {
  display: inline-block;
  padding: 0;
}

ul.main-nav > li > a {
  display: block;
  padding: 20px 30px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
}

ul.main-nav > li:hover {
  background-color: #f9f9f9;
}
ul.main-nav > li:hover > a {
  color: #333;
  font-weight: 400;
}

ul.main-nav > li ul.sub-menu-lists {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: block;
}

ul.main-nav > li ul.sub-menu-lists > li {
  padding: 2px 0;
}

ul.main-nav > li ul.sub-menu-lists > li > a {
  font-size: 14px;
}

/* Menu Icons for Devices*/
@media only screen and (min-width: 100px) {
  /* Main Menu for Desktop Devices  */
  ul.main-nav {
    display: block;
    position: relative;
  }
  .sub-menu-block {
    padding: 15px;
  }
  /* Sub Menu */
  ul.main-nav > li > div.sub-menu-block {
    visibility: hidden;
    background-color: #f9f9f9;
    position: absolute;
    margin-top: 0px;
    width: 1000px;
    min-height: 200px;
    color: #333;
    left: -270px;
    box-sizing: border-box;
    z-index: 3;
    font-size: 16px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    opacity: 0;

    /*CSS animation applied for sub menu : Slide from Top */
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }

  ul.main-nav > li:hover > div.sub-menu-block {
    background-color: #f9f9f9;
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }

  ul.main-nav > li:hover > div.sub-menu-block > * {
    opacity: 1;
  }

  .sub-menu-head {
    font-size: 20px;
  }

  /* List Separator: Outer Border */
  /* header.dark ul.main-nav > li > a { border-right: 1px solid #bbb; }
  header.light ul.main-nav > li > a { border-right: 1px solid #666; } */

  /* List Separator: Inner Border */
  ul.main-nav > li > a:after {
    content: "";
    /* width: 1px; */
    height: 62px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
  }
  .header.dark ul.main-nav > li > a:after {
    background-color: #777;
  }
  .header.light ul.main-nav > li > a:after {
    background-color: #999;
  }

  /* Drop Down/Up Arrow for Mega Menu */
  ul.main-nav > li > a.mega-menu > span {
    display: block;
    vertical-align: middle;
  }
  ul.main-nav > li > a.mega-menu > span:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    content: "";
    background-color: transparent;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
  }

  ul.main-nav > li:hover > a.mega-menu span:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 5px solid #666;
  }
}

